/***  BASE STYLE HTML  ***/
/*** BASED ON PHONE SPECS  ***/

html{
	font-size: 16px;

}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 15px;
	background-image: url("https://i.postimg.cc/pVJpymZc/concrete-wall.png") ;
	background-color: #eee5bd;
	color: rgb(58, 59, 52)
}

.container{
	max-width: 1200px;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	flex-grow: inherit;
}

h1,
h2,
h3,
h4 {
	color: #2b2a58;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 1.875em;
	
}
h2 {
    font-size: 1.5em;
}
h3 {
	font-size: 1.125em;
}
h4 {
	font-size: .75em;
}

p {
	font-size: .875em;
	line-height: 1.3em;

    padding: 0 30px;
}

/*The widths are in a percentage!*/
header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: wrap;
}

header h1 {
	color: #5b7888;
	margin: 0;
	padding: 25px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: solid 3px #63561e;
	width: 100%;
}

header h1 span {
	color: #a78d1d;
margin: 0 10px;
}

header nav {
	padding: 0px 0;	
}

header nav ul {
	margin: 0;
	padding: 0;
}
header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: .875em;
	padding: 0 10px;
	display: inline;
}
header nav ul li a{
	text-decoration: none;
	color:#254d5a;
	display: flex;
	justify-content: center;
	align-items: center;
}
/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.main-image {
	height: 100%;
}

.main-image img {
width: 100%;
	border-top: 3px solid #c2a31a;
	border-bottom: 3px solid #c2a31a;
}

.main-title {
	height: auto;
	
}
.main-title h3 {
	text-align: left;
	padding: 5px 0;
	color: #254d5a;
}
.main-title p {
	padding: 0;
	font-size: 1em;
}
.bottom-section{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.section-one,
.section-two,
.section-three {
	width: 100%;
	height: auto;
	border-top: 1px solid #c2a31a;	
}


.menu {
	list-style: none;
	padding: 0;
}
.menu li {
	padding: 5px 0;
	color: #473e16;
}
.menu li p{
	color:#172225;
	padding: 0;
	margin: 8px 0;
}

.reviews {
	color: #172225;
	font-size: 1em;
	line-height: 1.5em;
}

.address {
	font-size: 1em;
	line-height: 1.5em;
	color: #172225;
}

/*The widths are in a percentage!*/
footer {
	border-top: 2px solid #c2a31a;
	margin: 0 auto;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #8f1911;
	font-size: .875em;
}
footer h5 a{
	text-decoration: none;
	color: #473e16;
}

footer h5 a:hover{
	color:#254d5a;
}


/***  MEDIA QUERIES  ***/

/***  BASED ON VALUES FOR TABLETS ***/
@media (min-width: 768px){
	
	header{
		display:flex;
		align-items: center;
	
	}
	header nav {
		
		padding: 0px 0;	
	}

	h1 span{
		padding: 0;
	}
	.section-two {
		border-left: 1px solid #c2a31a;
		border-right: 1px solid#c2a31a;
	}

	.bottom-section {
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-direction: row;
	}

	.section-one,
	.section-two,
	.section-three {
		width: 33%;
		border-top: 1px solid #c2a31a;
	}

	.section-two h4{
		text-align: center;
	}

	.section-three h4{
		text-align: center;
	}
}	


/***  BASED ON VALUES FOR A DESKTOP OR LANDSCAPE PHONES AND TABLETS ***/
@media (min-width: 1200px){

	header{
		justify-content: space-between;
		width: 100%;
	}
	
	header h1{
		border-bottom: none;
		width: 30%;
		justify-content: flex-start;
	}
	
	header nav ul {
		display: flex;
		justify-content: space-between;
		justify-content: end;
		flex-direction: row;

	  }


	.bottom-section {
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-direction: row;
	}

	.section-one,
	.section-two,
	.section-three {
		width: 32%;
		border-top: 1px solid #c2a31a;

	}

	.section-two h4{
		text-align: center;
	}

	.section-three h4{
		text-align: center;
	}
}